/* work sans font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* shared styles  */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.text-description {
    color: #727272;
    padding-bottom: 20px;

}

/* header styles  */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 500;
}

/* banner styles  */
.banner {
    padding-top: 50px;
}

.banner-content {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700px;
    padding-bottom: 20px;
}



.banner img {
    width: 100%;
}



/* main styles  */

main {
    max-width: 1140px;
    margin: 70px auto;
}


/* teams container styles  */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.teams-content {
    padding-left: 40px;
}

.teams-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.text-quick {
    color: #727272;
    font-weight: 500;
}

.text-feature {
    color: #FF900E;
}

/* responsive by using media query  */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .nav-title {
        padding-bottom: 10px;
        font-size: 1.5rem;
    }

    ul {
        flex-direction: column;
    }

    ul>li {
        padding-bottom: 10px;
        text-align: center;
    }

    .banner-content {
        width: 100%;
    }

    .banner-title {
        font-size: 2rem;
    }

    .btn-primary {
        padding: 15px 20px;
        font-size: 1rem;
        font-weight: 400;
    }
    /* team section  */
    .teams-container{
        flex-direction: column;
    }
    .teams-img-container{
        margin-bottom: 30px;
        grid-template-columns: 1fr;
    }
    
    .teams-content{
        text-align: center;
        padding: 10px;
    }
    .teams-title{
        font-size: 2rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 20px;
    }
}